/***
=============================================
Service One
=============================================
***/
.service-one {
    position: relative;
    display: block;
    padding: 120px 0;
    z-index: 1;
}

.service-one__pattern {
    position: absolute;
    inset: 0;
    background-image: url("/landing/service-v1-pattern.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.service-one__single {
    position: relative;
    display: block;
}

.service-one__single-inner {
    position: relative;
    display: block;
    margin-right: 25px;
}

.service-one__single-img {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.service-one__single-img::before {
    position: absolute;
    inset: 0;
    background: rgba(var(--logistiq-black-rgb), 0.6);
    content: "";
    opacity: 0;
    transition: all .7s ease-in-out;
    z-index: 1;
}

.service-one__single:hover .service-one__single-img::before {
    opacity: 1;
}

.service-one__single-img img {
    width: 100%;
    transition: .5s ease;
    transform: scale(1.05);
}

.service-one__single:hover .service-one__single-img img {
    transform: scale(1);
}

.service-one__single-content {
    position: relative;
    display: block;
    margin-top: -60px;
    margin-left: 30px;
    padding: 33px 40px 32px;
    background: var(--logistiq-white);
    z-index: 5;
}

.service-one__single-content::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background: var(--logistiq-black);
    content: "";
}

.service-one__single-content::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background: var(--logistiq-base);
    content: "";
    transform: scale(1, 0);
    transform-origin: bottom right;
    transition: transform 0.6s ease;
    z-index: 1;
}

.service-one__single:hover .service-one__single-content::after {
    transform: scale(1, 1);
    transform-origin: top center;
}

.service-one__single-content h3 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--font-heading);
    font-weight: 900;
    text-transform: uppercase;
}

.service-one__single-content h3 a {
    color: var(--logistiq-black);
    text-decoration: none;
}

.service-one__single-content h3 a:hover {
    color: #FBD72A;
    text-decoration: none;
}

.service-one__single-content p {
    margin: 0;
    font-size: 16px;
    font-family: var(--font-sans);
    font-weight: 500;
}

.service-one__single-content .btn-box {
    position: relative;
    display: block;
    margin-top: 13px;
}

.service-one__single-content .btn-box a {
    color: var(--logistiq-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    font-family: var(--font-sans);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.service-one__single-content .btn-box a:hover {
    color: #FBD72A;
}

.service-one__single .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: var(--logistiq-black);
    transition: all 200ms linear;
    z-index: 5;
}

.service-one__single:hover .icon {
    background: #FBD72A;
}

.service-one__single .icon::before {
    position: absolute;
    top: -20px;
    right: 0;
    width: 25px;
    border-bottom: 20px solid #04171d;
    border-right: 25px solid transparent;
    content: "";
    transition: all 200ms linear;
}

.service-one__single:hover .icon::before {
    border-bottom-color: #FBD72A;
}

.service-one__single .icon span::before {
    position: relative;
    display: inline-block;
    color: var(--logistiq-white);
    font-size: 45px;
    line-height: 45px;
    transition: all 500ms ease;
}

.service-one__single:hover .icon span::before {
    transform: rotateY(180deg);
}

.service-one .swiper-button-next,
.service-one .swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    background: #ffffff;
    color: var(--logistiq-base) !important;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s linear;
}

.service-one .swiper-button-prev {
    left: 50px;
}

.service-one .swiper-button-next {
    right: 50px;
}

.service-one .swiper-button-next:hover,
.service-one .swiper-button-prev:hover {
    background-color: var(--logistiq-black);
}

.service-one .swiper-button-next::after,
.service-one .swiper-button-prev::after {
    font-size: 10px !important;
    font-weight: bold;
}

.service-one :is(.swiper-button-prev, .swiper-button-next) ::slotted(svg),
.service-one :is(.swiper-button-prev, .swiper-button-next) svg {
    width: 12px !important;
    height: 12px !important;
}

.service-one .swiper-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    text-align: center;
}

.service-one .swiper-pagination-bullet {
    background: var(--logistiq-base) !important;
    opacity: 0.3;
}

.service-one .swiper-pagination-bullet-active {
    opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
    .service-one {
        padding: 60px 0;
    }

    .service-one .swiper-button-next,
    .service-one .swiper-button-prev {
        top: calc(50% + 50px);
        margin-top: 0;
    }

    .service-one .swiper-button-prev {
        left: 4px;
    }

    .service-one .swiper-button-next {
        right: 4px;
    }
}
