/***
=============================================
Counter One
=============================================
***/
.counter-one {
    position: relative;
    display: block;
    background: var(--logistiq-gray-bg);
    padding: 80px 0;
    z-index: 1;
}

.counter-one__single {
    position: relative;
    display: block;
}

.counter-one__single-inner {
    position: relative;
    display: flex;
    align-items: center;
}

.counter-one__single-inner .icon {
    position: relative;
    display: block;
    z-index: 1;
}

.counter-one__single-inner .icon::before {
    position: absolute;
    left: -15px;
    bottom: -6px;
    width: 90px;
    border-bottom: 90px solid #ecedef;
    border-right: 90px solid transparent;
    content: "";
}

.counter-one__single-inner .icon span {
    position: relative;
    display: inline-block;
    transition: all 500ms ease;
}

.counter-one__single:hover .counter-one__single-inner .icon span {
    transform: rotateY(180deg);
}

.counter-one__single-inner .icon span::before {
    position: relative;
    display: inline-block;
    color: var(--logistiq-black);
    font-size: 70px;
    line-height: 70px;
    transition: all 200ms linear;
}

.counter-one__single:hover .counter-one__single-inner .icon span::before {
    color: var(--logistiq-base);
}

.counter-one__single-inner .content-box {
    position: relative;
    display: block;
    flex: 1;
    margin-left: 35px;
    padding-left: 25px;
}

.counter-one__single-inner .content-box::before {
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 8px;
    width: 2px;
    background: #ecedef;
    content: "";
}

.counter-one__single-inner .content-box .count-text-box {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.counter-one__single-inner .content-box .count-text-box h3 {
    font-size: 74px;
    line-height: 1em;
    font-weight: 700;
}

.counter-one__single-inner .content-box .count-text-box .plus {
    position: relative;
    display: inline-block;
    top: 3px;
    margin-left: 9px;
    color: var(--logistiq-black);
    font-size: 43px;
    font-weight: 700;
}

.counter-one__single-inner .content-box .text-box {
    position: relative;
    display: block;
    margin-top: 1px;
}

.counter-one__single-inner .content-box .text-box p {
    color: var(--logistiq-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
    .counter-one__single {
        max-width: 450px;
        width: 100%;
        margin: 0 auto 50px;
    }
}

@media only screen and (max-width: 767px) {
    .counter-one {
        padding: 40px 0;
    }

    .counter-one__single {
        text-align: center;
    }

    .counter-one__single-inner {
        display: block;
    }

    .counter-one__single-inner .icon {
        margin-bottom: 15px;
    }

    .counter-one__single-inner .icon::before,
    .counter-one__single-inner .content-box::before {
        display: none;
    }

    .counter-one__single-inner .content-box {
        margin-left: 0;
        padding-left: 0;
    }

    .counter-one__single-inner .content-box .count-text-box {
        justify-content: center;
    }

    .counter-one__single-inner .content-box .count-text-box h3 {
        font-size: 58px;
    }

    .counter-one__single-inner .content-box .count-text-box .plus {
        top: 2px;
        font-size: 34px;
    }
}
