/***
=============================================
Skill One
=============================================
***/
.skill-one {
    position: relative;
    display: block;
    background: var(--logistiq-white);
    padding: 120px 0;
    z-index: 1;
}

.skill-one__img {
    position: relative;
    display: block;
    max-width: 540px;
    margin: 0 auto;
    z-index: 1;
}

.skill-one__img1 {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.skill-one__img1::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    content: "";
    opacity: 1;
    pointer-events: none;
    z-index: 9;
}

.skill-one__img1:hover::before {
    height: 100%;
    opacity: 0;
    transition: all 400ms linear;
}

.skill-one__img1 img {
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.skill-one__content {
    position: relative;
    display: block;
    margin-left: 100px;
}

.skill-one__content .sec-title {
    padding-bottom: 31px;
}

.skill-one__content-text p {
    margin: 0;
    font-family: var(--font-sans);
    font-weight: 500;
}

.skill-one__progress {
    position: relative;
    display: block;
    margin-top: 35px;
    padding-left: 0;
}

.skill-one__progress li {
    position: relative;
    display: block;
}

.skill-one__progress li + li {
    margin-top: 16px;
}

.skill-one__progress-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    color: var(--logistiq-black);
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.skill-one__progress-icon {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.skill-one__content-btn {
    position: relative;
    display: block;
    margin-top: 55px;
    line-height: 0;
}

@media only screen and (max-width: 1199px) {
    .skill-one__content {
        max-width: 655px;
        margin-left: 0;
    }

    .skill-one__img {
        margin: 40px auto 0;
    }
}

@media only screen and (max-width: 767px) {
    .skill-one {
        padding: 60px 0;
    }

    .skill-one__content {
        text-align: left;
    }

    .skill-one__progress {
        margin: 35px auto 0;
    }

    .skill-one__progress-item {
        justify-content: flex-start;
        text-align: left;
    }
}
